.page-body {
    margin: 0;
    min-height: 100vh;
    background-image: url('../img/fondoEscolar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: transparent;
    border: rgb(11, 49, 123) 2px solid;
    border-radius: 10px;
}

.nav-link {
    color: rgb(11, 49, 123) !important;
    font-family: 'Robot';
    font-weight: 100;
    font-size: 1.2rem;
}

.navbar-toggler {
    border-color: rgb(11, 49, 123);
}

.sidebar-button {
    background-color: transparent;
    border-color: transparent;
}


.sidebar {
    transform: translateY(8%);
    font-family: 'Robot;';
    font-size: xx-large;
    color: white;
    position: fixed;
    left: -220px;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: transparent;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.principal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-image {
    max-width: 40svh;
    height: auto;
}

.principal-content {
    width: 100%;
    overflow: hidden;
}

.demostration-video {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-20px);
}

@media (min-width: 769px) {
    .demostration-video {
        transform: translateY(-80px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .demostration-video {
        transform: translateY(-40px);
    }
}

.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3svh;
}

@media(max-width:767px) {
    .slogan {
        width: 25svh;
        height: auto;
    }
}

@media(min-width:767px)and (max-width:1020px) {
    .slogan {
        width: 35svh;
        height: auto;
    }
}

.kinal-title {
    text-align: center;
    color: rgb(30, 50, 107);
    font-family: 'Robot';
}

.kinal-text {
    text-align: center;
    color: rgb(11, 49, 123);
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 2svh;
}


#carouselExampleCaptions {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    transform: translateY(170px);
    margin: 0 auto;
    margin-top: -18svh;
    margin-bottom: 25svh;

}

#carouselExampleCaptions img {
    height: 550px;
    object-fit: cover;
}

@media(max-width:767px) {
    #carouselExampleCaptions {
        width: 45svh;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        transform: translateY(170px);
        margin-top: -20svh;
        margin-bottom: 25svh;
    }
}

@media(max-width:767px) {
    #carouselExampleCaptions img {
        height: 45svh;
        object-fit: cover;

    }
}

@media(min-width:767px)and (max-width:1020px) {
    #carouselExampleCaptions {
        width: 45svh;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        transform: translateY(170px);
        margin-top: -15svh;
        margin-bottom: 20svh;
    }
}

@media(min-width:767px)and (max-width:1020px) {
    #carouselExampleCaptions img {
        height: 45svh;
        object-fit: cover;

    }
}

.program-title {
    text-align: center;
    margin-bottom: 2svh;
    color: rgb(11, 49, 123);
    font-family: 'Robot';
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5svh;
}

.video-section {
    width: 100svh;
    height: auto;
}

@media(min-width:767px)and (max-width:1020px) {
    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:767px) {
    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:767px)and (max-width:1020px) {
    .video-section {
        width: 50svh;
        height: auto;
    }
}

@media(max-width:767px) {
    .video-section {
        width: 50svh;
        height: auto;
    }
}

.old-title {
    text-align: center;
    color: rgb(11, 49, 123) !
}

.old-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.old-image {
    width: 75svh;
    height: auto;
    margin-bottom: 20px;
}


.text-information {
    color: #025995;
    font-size: 1.5rem;
    font-weight: bold;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50svh;
    background-color:transparent;
}

.logo-footer {
    align-items: center;
    justify-self: center;
    width: 12svh;
    height: auto;
}

footer {
    background-color:  rgb(30, 50, 107);
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}


.correos h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.correos p {
    margin: 3px 0;
}

.logo-footer {
    max-width: 50svh;
    width: 100%;
    height: auto;
}


.info-container section:last-child p {
    max-width: 250px;
    text-align: center;
    font-size: 0.9rem;
}


footer>section:last-child {
    text-align: center;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
}


@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        text-align: center;
    }

    .info-container section:last-child p {
        max-width: 100%;
    }
}