.principal-body {
  margin: 0;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.navbar{
    background-color: transparent;
    border: rgb(2, 89, 149) 3px solid;
    border-radius: 10px;
}

.nav-link{
    color: rgb(2, 89, 149)!important;
    font-family: 'Robot', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.navbar-toggler{
    border-color: rgb(2, 89, 149);
}

.favorite-title{
    text-align: center;
    margin-top: 4.2rem;
    color: rgb(2, 89, 149);
    font-family: 'Robot', sans-serif;
    margin-bottom: 5svh;
}

.container{
  border-bottom: rgb(2, 89, 149) 3px solid;
  width: 60%;
}

.paragraph {
  text-align: center;
  max-width: 60ch;
  color:rgb(2, 89, 149);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.video1{
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 2svh;
  margin-bottom: 1svh;

}

.demostration-video{
  width: 70%  ;
  border-radius: 10px;
  margin-bottom: 3svh;

}

.title{
  text-align: center;
  margin-top: 3svh;
  color: rgb(2, 89, 149);
  margin-bottom: 2svh;
}

.demostration-video1{
  border-radius: 10px;
  width: 30svh;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto {
  width: 30vh;      
  height:30svh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2svh;
}


.biography-container {

  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  border-bottom: rgb(2, 89, 149) 3px solid;
}

.biography-paragraph {
  text-align: center;
  max-width: 60ch;
  color:rgb(2, 89, 149);
  font-size: x-large;

}

.biography-title{
  color: rgb(2, 89, 149);
}

@media (max-width: 768px) {
  .biography-paragraph {
    text-align: left;
  }}

@media (max-width: 768px) {
  .paragraph {
    text-align: left;
  }}

  


/*



.principal-img{
  width: 800px;
  height: 600px;
  margin-left: 25%;
  margin-top: 6%;


}

.web-title{
  transform: translateY(200px);
  color: #164181;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px #000;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 30px;
  font-size: 3rem;
}

.web-subtitle{
  transform: translateY(230px);
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'anton', sans-serif;
  color: #164181;
  text-shadow: 2px 2px 4px #ffffff;
  letter-spacing: 2px;
}

.presentation-target{
  transform: translateY(240px);
  margin-left: 350px;
  display: flex;
  align-items: center;
}

.card {
  margin: 0 10px;
    margin-bottom: 20px;
}

.video-section video {
  display: block;
  width: 1000px;
  max-width: 100%;
  transform: translateY(250px);
  margin-left: 250px;   
}*/