.principal-body {
  margin: 0;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.navbar{
    background-color: transparent;
    border: rgb(2, 89, 149) 3px solid;
    border-radius: 10px;
}

.nav-link{
    color: rgb(2, 89, 149)!important;
    font-family: 'Robot', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.navbar-toggler{
    border-color: rgb(2, 89, 149);
}

.favorite-title{
    text-align: center;
    margin-top: 4.2rem;
    color: rgb(2, 89, 149);
    font-family: 'Robot', sans-serif;
    margin-bottom: 5svh;
}

.container{
  border-bottom: rgb(2, 89, 149) 3px solid;
  width: 80%;
}

.paragraph {
  margin-top: 0;
  padding: 0 40px;
  width: 90%;
  margin:0 auto;
  background-color: transparent;
  color: rgb(2, 89, 149);
  font-size: x-large;
}

.video1{
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 2svh;
  margin-bottom: 1svh;

}

.demostration-video{
  width: 70%  ;
  border-radius: 10px;
  margin-bottom: 3svh;

}

.title{
  text-align: center;
  margin-top: 3svh;
  color: rgb(2, 89, 149);
  margin-bottom: 2svh;
}

.demostration-video1{
  border-radius: 10px;
  width: 30svh;
}



