.body-principal {
  height: 100vh;
  background-image: url('../img/fnd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  font-family: 'Antont, sans-serif;';
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: relative;
  border: 4px solid white;
}

.p1 {
  margin-top: 20px;
  padding: 0 40px;
}

.title {
  margin-top: 3%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px #000;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 30px;
  font-size: 3rem;
}

.texto {
  display: flex;
  align-items: center;
  gap: 5px;
}

.principal-content {
  flex: 1;
  text-align: left;
  font-size: 1.1rem;
  background-color: rgba(254, 250, 250, 0.4);
  border-radius: 10px;
  border: 4px solid white;
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
  font-family: 'anton', sans-serif;
  color: #f1faee;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
}

.texto video {
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
}

.p2 {
  margin-top: 50px;
  padding: 0 40px;
}

.second-title {
  margin: 0 0 8px 0;
  color: white;
  margin-left: 450px;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px #000;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 30px;
  font-size: 3rem;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #000;
  letter-spacing: 3px
}

.second-text {
  transform: translateY(-100px);
  display: flex;
  align-items: center;
}

.second-content {
  flex: 1;
  font-size: 1.1rem;
  background-color: rgba(254, 250, 250, 0.4);
  border-radius: 10px;
  border: 4px solid white;
  font-size: 32px;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'anton', sans-serif;
  color: #f1faee;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
}

.second-text video {
  flex: 1;
  max-width: 280px;
  border-radius: 10px;
  margin-left: 100px;
}

.p3{
  margin-top: 50px;
  padding: 0 40px;
}

.third-title{
  color: white;
  transform: translateY(-100px);
  margin-right: 700px;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px #000;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 30px;
  font-size: 3rem;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #000;
  letter-spacing: 3px
}

.third-text{
  transform: translateY(-100px);
  display: flex;
  align-items: center;
}

.third-content{
    flex: 1;
  font-size: 1.1rem;
  background-color: rgba(254, 250, 250, 0.4);
  border-radius: 10px;
  border: 4px solid white;
  font-size: 32px;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'anton', sans-serif;
  color: #f1faee;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
}

.third-text video{
  flex: 1;
  width: 100px;
  border-radius: 10px;
  margin-left: 100px;
}

.p4 {
  margin-top: 50px;
  padding: 0 40px;
}

.fourth-title {
  transform: translateY(-100px);
  margin: 0 0 8px 0;
  color: white;
  margin-left: 450px;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px #000;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 30px;
  font-size: 3rem;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #000;
  letter-spacing: 3px
}

.fourth-text {
  transform: translateY(-140px);
  display: flex;
  align-items: center;
}

.fourth-content {
  flex: 1;
  font-size: 1.1rem;
  background-color: rgba(254, 250, 250, 0.4);
  border-radius: 10px;
  border: 4px solid white;
  font-size: 32px;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'anton', sans-serif;
  color: #f1faee;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
}

.fourth-text video {
  flex: 1;
  max-width: 280px;
  border-radius: 10px;
  margin-left: 100px;
}
